<div class="row">
  <div class="col-xs-9 main">
    <h4>#lobby</h4>
    <div id="messages"></div>
    <div class="input-group bottom">
      <span class="input-group-addon">@ventsi</span>
      <input type="text"
             id="input"
             class="form-control"
             placeholder="Message #lobby"
             autofocus />
    </div>
  </div>

  <div class="col-xs-3 sidebar">
    <h4>users</h4>
    <ul id="users" class="bottom"></ul>
  </div>
</div>
